.barLoader { 
    
}

.bottomSection {
     margin-top: 10px;
     align-items: center;
    /*border-width: 1px;
    border-color: gray;
    border-style: solid; */
}

.apiTable {
    border: 1px solid;
}

/* th, td {
    border: 1px solid;
    width: 100%;
    text-align: center;
} */

th {
    border: 1px solid;
    text-align: center;
}
td {
    border: 1px solid;
    text-align: center;
}
table {
    border-collapse: collapse;
    width: 50%;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

/* .twoSections {
    display: flex;
    flex-direction: row;
    align-items: stretch;
} */

h1,h2,h3{
    text-align: center;
}

.paginationContainer {
    text-align: center;
}